@page "/dashboard"

<div class="content-container">
    <div class="header-area">
        <MudAvatar Color="Color.Primary" Variant="Variant.Outlined" Size="Size.Medium">E</MudAvatar>
        <MudText Typo="Typo.h5">Willkommen Ena</MudText>
    </div>
    <div class="content-area">
        <MudPaper Class="pa-16 ma-2"></MudPaper>
    </div>
</div>

@code {

}
