@page "/dashboard"

<div class="content-container">
    <div class="header-area">
         <MudText Typo="Typo.h3">Wilkommen</MudText>
    </div>
    <div class="content-area">
        
    </div>
</div>

@code {

}
