@page "/login"

@using CatTime.Frontend.Pages.Auth.Models
@using CatTime.Shared
@using Microsoft.AspNetCore.Components.Forms

@inject NavigationManager NavigationManager;

<div class="login-container">
    <div class="login-card">
        <div class="image-container">
        </div>
        <EditForm Model="@_model" OnValidSubmit="OnSubmit" class="form-container">
            <div class="login-form-container">
                <MudText Typo="Typo.h6">CatTime</MudText>
                <MudTextField @bind-Value="_model.Email" Label="E-Mail Adresse" For="@(() => _model.Email)"/>
                <MudTextField @bind-Value="_model.Password" Label="Passwort" For="@(() => _model.Password)" InputType="InputType.Password" />
                
                <div class="register-link">
                    <span>Noch keinen Account? <MudLink Href="/register" Typo="Typo.body2">Jetzt registrieren!</MudLink></span>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="submit-button">Anmelden</MudButton>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private RegisterModel _model = new RegisterModel();

    private void OnSubmit(EditContext context)
    {
        this.NavigationManager.NavigateTo("/dashboard");
        this.StateHasChanged();
    }
}
